.progress {
    &--primary {
        border-radius: $border-circle;
        position: relative;
        height: 10px;
        background-color: $white;
        margin: 5px 0;

        &__bar {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 6px;
            width: 60%;
            background-color: $color-secondary;
            border-radius: $border-circle;
        }
    }

    &--blue {
        border-radius: $border-circle;
        position: relative;
        height: 10px;
        background-color: $white;
        margin: 5px 0;

        &__bar {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 6px;
            width: 60%;
            background-color: $color-primary;
            border-radius: $border-circle;
        }
    }
    &--darkblue {
        border-radius: $border-circle;
        position: relative;
        height: 10px;
        background-color: $white;
        margin: 5px 0;

        &__bar {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 6px;
            width: 80%;
            background-color: $darkBlue;
            border-radius: $border-circle;
        }
    }
    &--green {
        border-radius: $border-circle;
        position: relative;
        height: 10px;
        background-color: $white;
        margin: 5px 0;

        &__bar {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 6px;
            width: 65%;
            background-color: $green;
            border-radius: $border-circle;
        }
    }
    &--orange {
        border-radius: $border-circle;
        position: relative;
        height: 10px;
        background-color: $white;
        margin: 5px 0;

        &__bar {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 6px;
            width: 45%;
            background-color: $orange;
            border-radius: $border-circle;
        }
    }
    &--purple {
        border-radius: $border-circle;
        position: relative;
        height: 10px;
        background-color: $white;
        margin: 5px 0;

        &__bar {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 6px;
            width: 28%;
            background-color: $purple;
            border-radius: $border-circle;
        }
    }
    &--purple {
        border-radius: $border-circle;
        position: relative;
        height: 10px;
        background-color: $white;
        margin: 5px 0;

        &__bar {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 6px;
            width: 28%;
            background-color: $purple;
            border-radius: $border-circle;
        }
    }
    &--gray {
        border-radius: $border-circle;
        position: relative;
        height: 10px;
        background-color: $white;
        margin: 5px 0;

        &__bar {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 6px;
            width: 50%;
            background-color: $gray;
            border-radius: $border-circle;
        }
    }
}
