.sidebarfooter {
    background-color: #f4f6fa;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(192, 189, 189);
    &__info {
        margin-bottom: 10px;
        color: gray;
    }
    &__clear {
        color: red;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
}
