.sidebarbody {
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 25px;

    &__element {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }
    &__name {
        display: flex;
    }
    &__title {
        margin-left: 5px;
    }
}
