//global
$unit: 4px;

//borders

$border-rounded: 6px;
$border-circle: 100000px;

//Colors
$color-primary: #01c4d4;
$color-secondary: rgb(245, 245, 35);
$color-error: rgb(219, 59, 59);
$darkBlue: #06738b;
$green: #32cd32;
$orange: #ffa500;
$purple: #9932cc;
$white: #fff;
$black: #000;
$gray: #a8a8a8;
$gray-light: #f4f6fa;
//Fonts
$fontOne: arial, Helvetica, sans-serif;
